NETRIX_AUTH_DB_NAME=netrix_auth
NETRIX_AUTH_DB_USER=netrix
NETRIX_AUTH_DB_PASSWORD=change-this-db-password

NETRIX_JWT_SECRET=change-this-long-random-secret
NETRIX_JWT_ISSUER=netrix-auth
NETRIX_JWT_LIFETIME_MINUTES=120

NETRIX_AUTH_DB_HOST_PORT=5433
NETRIX_AUTH_PORT=8001
NETRIX_LB_PORT=8002
NETRIX_MAIN1_PORT=8000
NETRIX_MAIN2_PORT=8003
NETRIX_MAIN3_PORT=8004

NETRIX_MAIN1_PUBLIC_WS_URL=wss://main.threalwinky.id.vn/ws
NETRIX_MAIN2_PUBLIC_WS_URL=wss://main2.threalwinky.id.vn/ws
NETRIX_MAIN3_PUBLIC_WS_URL=wss://main3.threalwinky.id.vn/ws
NETRIX_ALLOW_PRIVATE_WS_URLS=false
NETRIX_ACCESS_LOG=false
